.fwdd-team .team {
    display: block;
    margin: 0 -10px 0 -10px;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.fwdd-team:after {
    clear: both;
}

.fwdd-team .team > *{
    vertical-align: top;
}

.fwdd-team a{
    text-decoration: none;
}

.fwdd-team .team-name{
    margin: 20px 0 0;
}

.fwdd-team .job-title{
    display: block;
}
.fwdd-team .team li {
    display: inline-block;
    padding: 10px;
    height: auto;
}

.fwdd-team img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.fwdd-team .team-links{
    margin:0;
    padding:0;
}
.fwdd-team .team-links a{
    position:relative;
    display: inline-block;
}

.fwdd-team .team-links a:before{
    content: '\f0a3';
    vertical-align: top;
    display: inline-block;
    font: normal normal normal 1em/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fwdd-team .team-links a[href*="wordpress.org"]::before,
.fwdd-team .team-links a[href*="wordpress.com"]::before {
    content: '\f19a';
}
.fwdd-team .team-links a[href*="facebook.com"]::before {
    content: '\f09a';
}
.fwdd-team .team-links a[href*="twitter.com"]::before {
    content: '\f099';
}
.fwdd-team .team-links a[href*="dribbble.com"]::before {
    content: '\f17d';
}
.fwdd-team .team-links a[href*="plus.google.com"]::before {
    content: '\f0d5';
}
.fwdd-team .team-links a[href*="pinterest.com"]::before {
    content: '\f231';
}
.fwdd-team .team-links a[href*="github.com"]::before {
    content: '\f113';
}
.fwdd-team .team-links a[href*="tumblr.com"]::before {
    content: '\f173';
}
.fwdd-team .team-links a[href*="youtube.com"]::before {
    content: '\f167';
}
.fwdd-team .team-links a[href*="flickr.com"]::before {
    content: '\f16e';
}
.fwdd-team .team-links a[href*="vimeo.com"]::before {
    content: '\f27d';
}
.fwdd-team .team-links a[href*="instagram.com"]::before {
    content: '\f16d';
}
.fwdd-team .team-links a[href*="codepen.io"]::before {
    content: '\f1cb';
}
.fwdd-team .team-links a[href*="linkedin.com"]::before {
    content: '\f0e1';
}
.fwdd-team .team-links a[href*="mailto"]::before {
    content: '\f003';
}

/*!
 *  Font Awesome 4.4.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.4.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
